---
import "../../styles/index.css";

import PageHero from "../../components/PageHero.astro";
import CardList from "../../components/Cards/CardList.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import HorizontalCardList from "../../components/Cards/HorizontalCardList.astro";
import { newsArticles } from "../../data/news";

// Transform news articles for HorizontalCardList component
const newsCards = newsArticles.map((article) => ({
  id: article.id,
  imageSrc: article.imageUrl,
  imageAlt: article.title,
  preText: article.category,
  title: article.title,
  description: article.excerpt,
  text1: article.date,
  text2: `By ${article.author}`,
}));
---

<BaseLayout title="artmena/news" description="artmena">
  <div class="min-h-screen">
    <PageHero title="News" />

    <HorizontalCardList objectType="news" cards={newsCards} imageRatio="4:3" />
  </div>
</BaseLayout>
